/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cecdcd;
  border: 59px none #ffffff;
  border-radius: 46px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cecdcd;
}
::-webkit-scrollbar-thumb:active {
  background: #bbbbbb;
}
::-webkit-scrollbar-track {
  background: #e6e2e2;
  border: 59px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e6e2e2;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* nav links underline animation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#dd2d50, #dd2d50);
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

/* header bottom wave */
.wave {
  background-image: url("../public/asset/wave/wave.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: initial;
}

/* auth form loading spinner */
@keyframes ldio-8zy9x4p1een {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}
.ldio-8zy9x4p1een div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-8zy9x4p1een 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ldio-8zy9x4p1een div:nth-child(1) {
  border-color: #161e29;
  animation-delay: 0s;
}
.ldio-8zy9x4p1een div:nth-child(2) {
  border-color: #dd2d50;
  animation-delay: -0.5s;
}
.loadingio-spinner-ripple-ws3exx9ngs {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-8zy9x4p1een {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-8zy9x4p1een div {
  box-sizing: content-box;
}

/* specialities card hover glow effect */
.speciality-card {
  position: relative;
}

.speciality-card::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.1),
    transparent 40%
  );
  opacity: 0;
  transition: opacity 500ms;
  border-radius: 1rem;
}

.speciality-card:hover::before {
  opacity: 1;
}
